/vendor/
/storage/*
!/storage/app/
/storage/app/public/
/storage/framework/
/storage/logs/
.env
/public/storage
/public/uploads/profile_pics/
/node_modules/
/.idea/
/.vscode/
composer.lock
/composer.phar
