.page-container {
  background: radial-gradient(circle at 20% 30%, #f5d6d6 0%, transparent 40%),
              radial-gradient(circle at 100% 20%, #d6e4f5 0%, transparent 40%),
              radial-gradient(circle at 50% 100%, #d6f5e1 0%, transparent 40%),
              #eee;
}

.main-content{
  margin-top: calc(5em + 1rem);
  align-items: center;
}
.tile{
  width: 100%;
  max-width: 500px;
  border-left: 4px solid var(--pelorous);
}


.quarma-360{
  max-width: 250px;
  min-width: 150px;
  margin-bottom: 1rem;
  padding-top: 2rem;
  align-self: flex-start;
}

.nwb-logo{
  margin-top: 2rem;
  max-height: 2em;
  margin-bottom: 1rem;
}
h1{
  margin-top: 2rem;
  font-size: min(11vw, 2.5em);
}

.google-login {
  background: #fff;
  color: #444;
  border: 1px solid #ddd;
  font-weight: 500;
}

.google-login i {
  color: #4285F4; /* Google kék */
}

.microsoft-login {
  background: #fff;
  color: #444;
  border: 1px solid #ddd;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-login i {
  margin-left: 8px;
}

.ms-logo {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  width: 14px;
  height: 14px;
  margin-left: 10px;
}

.ms-logo span {
  display: block;
}

@media (max-width: 768px){
  .main-content {
  margin-top: 20px!important; }
}